body {
  font-family: "Inter", sans-serif;
  margin: 20px;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header {
  width: 100%;
}
