/* src/styles/Dashboard.css */

.chart-container {
  position: relative;
  margin: auto;
  width: 100%;
}

.slider-container {
  margin-top: 20px;
}

.selected-month-value {
  margin-top: 10px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}
