/* index.css */
.container {
  max-width: 600px;
  margin: 20px auto;
}

.form-label {
  margin-top: 10px;
}

.invalid-feedback {
  font-size: 14px;
}

.btn-check:checked+.btn-outline-primary {
  background-color: #007bff;
}

.img-thumbnail {
  width: 90px;
  height: auto;
  cursor: pointer;
}

.calculo {
  margin-top: 10px;
}

#resultado {
  max-width: 400px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ddd;
}
